# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
*.env
.venv/

# Ignore docker volumes
kc_data/
pg_data/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*