KC_DB_URL=jdbc:postgresql://urban_db:5432/urban_db
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=postgres
KC_DB_SCHEMA=users
KC_FEATURES=preview
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_PORT=8080