app:
  host: 0.0.0.0
  port: 8000
  debug: false
  name: urban_api (0.37.0)
db:
  master:
    host: localhost
    port: 5432
    database: urban_db
    user: postgres
    password: postgres
    pool_size: 15
  replicas:
  - host: localhost
    port: 5433
    database: urban_db
    user: readonly
    password: readonly
    pool_size: 8
auth:
  url: http://localhost:8086/introspect
  validate: false
  cache_size: 100
  cache_ttl: 1800
fileserver:
  host: localhost
  port: 9000
  projects_bucket: projects.images
  access_key: ''
  secret_key: ''
  region_name: us-west-rack-2
  connect_timeout: 5
  read_timeout: 20
  retries: 3
external:
  gen_planner_api: http://localhost:8101
  hextech_api: http://localhost:8100
logging:
  level: INFO
  files:
  - filename: logs/info.log
    level: INFO
prometheus:
  port: 9000
  disable: false
broker:
  client_id: urban-api
  bootstrap_servers: localhost:9092,localhost9093,localhost9094
  schema_registry_url: http://localhost:8081
  enable_idempotence: true
  max_in_flight: 5
