app:
  host: 0.0.0.0
  port: 8000
  debug: false
  name: urban_api
db:
  addr: localhost
  port: 5432
  name: urban_db
  user: postgres
  password: postgres
  pool_size: 15
auth:
  url: http://10.32.1.100:8086/introspect
  validate: false
  cache_size: 100
  cache_ttl: 1800
fileserver:
  host: localhost
  port: 9000
  projects_bucket: projects.images
  access_key: ''
  secret_key: ''
  region_name: us-west-rack-2
  connect_timeout: 5
  read_timeout: 20
  retries: 3
external:
  hextech_api: http://localhost:8100
  gen_planner_api: http://localhost:8101
logging:
  level: INFO
  files:
    - filename: logs/info.log
      level: INFO
